@model IList<iTunesLibrary.Web.Models.Musica>
           
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{<a href="../Shared/_Layout.cshtml"></a>
    ViewBag.Title = "Músicas";
}

<h2>Pesquisa - Músicas</h2>

<ul>
@foreach (var musica in Model) { 
    <li>@musica.Artista - @musica.Nome</li>
}
</ul>