@using iTunesLibrary.Domain;

@{
    ViewBag.Title = "Biblioteca";
}

<h2>Músicas</h2>

<ul>
@foreach (Musica musica in ViewData[ "Biblioteca" ] as Biblioteca) 
{
    <li>@musica.Artista - @musica.Nome</li>
}
</ul>
