@using iTunesLibrary.Web.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{<a href="../Shared/_Layout.cshtml"></a>
    ViewBag.Title = Model.Nome;
}

<h2>Usuário: @Model.Nome</h2>

